.card {
  background-color: #EEE !important;
  max-width: 300px;
  text-align: center;
  align-items: center;
  padding: 26px 0px;
  border-radius: 40px !important;
  border: 2px solid skyblue !important;
}
.card-img {
  border: 2px solid skyblue;
  border-radius: 50% !important;
  width: 100px !important;
  height: 100px;
  text-align: center;
}
.virfid {
  position: relative;
  top: -14px;
  left: 14px;
}